<% content_for :title do %>Sign In<% end %>

<%= form_with url: sessions_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.text_field :email, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input' %>
    </div>
  </div>
  <div class="actions">
    <div class="control has-text-centered">
      <%= f.submit "Login", class: 'button is-medium is-link' %>
    </div>
  </div>
  <br/>
  <div class="field">
    <div class="control">
      <%= f.label :remember, class: 'label checkbox' do %>
        <%= f.check_box :remember %>
        Keep me logged in
      <% end %>
    </div>
  </div>
<% end %>
